extends layout

block content
  h1= title
  p Welcome to #{title}
  h3 Sum 
  input(id="num1",type="text",placeholder="enter number 1")
  span +
  input(id="num2",type="text",placeholder="enter number 2")
  span = 
    span(id="sum_val") 
  button(id="sum") Calculate
